<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Post added by  <%= @post.user.username %></h1>
    <p>
      You can check the post here <%= link_to @post.title, post_url(@post)%><br>
    </p>
    <p>
      Stop notifications .
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>to stop the mail notifications click here : <%= link_to "Stop Mailing me ",info_stop_user_path%></p>
  </body>
</html>