.search_box
  = form_tag posts_path, :class => "navbar-search pull-left", :method => :get do
    = text_field_tag :search, params[:search], :class => "form-control pull-left search", :placeholder => "Search"
    %span.input-group-btn.width-fix.pull-right= submit_tag "Go", :name => nil,:class=>"btn btn-default"